<div class="col-sm-10 content">
    <h2>Prijava</h2>
    <table>
        <tr>
            <td>Korisničko ime: </td>
            <td>
                <input type="text" name="ime" [(ngModel)]="kor_ime">
            </td>
        </tr>
        <tr>
            <td>Lozinka: </td>
            <td>
                <input type="password" name="prezime" [(ngModel)]="lozinka">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="prijava()">Prijava</button>
                <span class="error">{{greska}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Nemate nalog: <a routerLink="../registracija" (clcik)="registracija()">napravi nalog</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Zaboravili ste lozinku: <a routerLink="../promenaLozinke" (clcik)="promenaLozinke()">promeni
                    lozinku</a>
            </td>
        </tr>
    </table>
    <button (click)="nazad()">Nazad</button>
</div>