
<div>
    <a routerLink="../profilKonobar" (click)="profil()">Profil</a> | 
    <a routerLink="../rezervacijeKonobar" (click)="rezervacije()">Rezervacije</a> |
    <a routerLink="../dostaveKonobar" (click)="dostave()">Dostave</a> | 
    <a routerLink="../statistikaKonobar" (click)="statistika()">Statistika</a><br>
    <h4>Konobar {{korisnik.ime}}!</h4>

    <h5>Korisnički profil</h5>
    Profilna slika:<br>
    <img *ngIf="slikaUrl" [src]="slikaUrl" alt="Profilna slika"><br>
    <table>
        <tr>
            <th>Ime: </th>
            <td>{{korisnik.ime}}</td>
        </tr>
        <tr>
            <th>Prezime: </th>
            <td>{{korisnik.prezime}}</td>
        </tr>
        <tr>
            <th>I-mejl adresa: </th>
            <td>{{korisnik.mejl}}</td>
        </tr>
        <tr>
            <th>Adresa: </th>
            <td>{{korisnik.adresa}}</td>
        </tr>
        <tr>
            <th>Kontakt telefon: </th>
            <td>{{korisnik.kontakt_telefon}}</td>
        </tr>
        <tr>
            <th>Broj kartice: </th>
            <td>{{korisnik.broj_kartice}}</td>
        </tr>
    </table>
    <span class="error">{{greska}}</span>
    <button (click)="logout()">LogOut</button>
</div>