.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela th,
.tabela td {
    border: 2px solid black;
    padding: 1px;
    text-align: left;
}

.tabela th {
    background-color: beige;
}

.map-container {
    height: 30vh;
    width: 20lh;
}

#map {
    height: 100%;
    width: 100%;
}

.error{
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }