<h3>Korisnici</h3>
<table class="tabela">
    <tr>
        <th>Ime i prezime</th>
        <th>Adresa</th>
        <th>Kontakt telefon</th>
        <th>Broj kartice</th>
        <th>Bezbedonosno pitanje</th>
        <th>Odgovor na bezbedonosno pitanje</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let g of gosti">
        <td>{{g.ime}} {{g.prezime}}</td>
        <td>{{g.adresa}}</td>
        <td>{{g.kontakt_telefon}}</td>
        <td>{{g.broj_kartice}}</td>
        <td>{{g.bezbedonosno_pitanje}}</td>
        <td>{{g.odgovor}}</td>
        <td><button [disabled]="g.nepojavljivanja<3">Odblokiraj korisnika</button></td>
        <td><button (click)="deaktiviraj(g)">Deaktiviraj korisnika</button></td>
        <td><button (click)="azuriraj(g)">Azuriraj korisnika</button></td>
    </tr>
</table>
<hr>
<h3>Zahtevi za registraciju</h3>
<table class="tabela">
    <tr>
        <th>Ime i prezime</th>
        <th>Adresa</th>
        <th>Kontakt telefon</th>
        <th>Broj kartice</th>
        <th>Bezbedonosno pitanje</th>
        <th>Odgovor na bezbedonosno pitanje</th>
        <th></th>
    </tr>
    <tr *ngFor="let g of zahtevi">
        <td>{{g.ime}} {{g.prezime}}</td>
        <td>{{g.adresa}}</td>
        <td>{{g.kontakt_telefon}}</td>
        <td>{{g.broj_kartice}}</td>
        <td>{{g.bezbedonosno_pitanje}}</td>
        <td>{{g.odgovor}}</td>
        <td><button (click)="odobri(g)">Odobri</button></td>
    </tr>
</table>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>
