.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela th,
.tabela td {
    border: 2px solid black;
    padding: 1px;
    text-align: left;
}

.tabela th {
    background-color: beige;
}

.error {
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.slike {
    height: 80px;
    width: 100px;
}