<body>
    <div class="row">
        <div class="col-sm-2">
            <img src="../../assets/slika1.jpg" class="header_image">
        </div>
        <div class="col-sm-2">
            <img src="../../assets/slika2.jpg" class="header_image">
        </div>
        <div class="col-sm-2">
            <img src="../../assets/slika3.jpg" class="header_image">
        </div>
        <div class="col-sm-2">
            <img src="../../assets/slika4.jpg" class="header_image">
        </div>
        <div class="col-sm-2">
            <img src="../../assets/slika5.jpg" class="header_image">
        </div>
        <div class="col-sm-2">
            <img src="../../assets/slika6.jpg" class="header_image">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 green">
            &nbsp;
        </div>
        <div class="col-sm-10 content">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-1 green">
            &nbsp;
        </div>
    </div>
    <div class="row orange">
        Kontakt telefon: +381/69-123-45-67
    </div>

</body>