.error {
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    text-align: left;
    height: 60vh;
}