<div class="row">
    <div class="col-sm-4">
        <h5>Dijagram gostiju po danu za konobara:  {{konobar.ime}}</h5>
        <canvas id="barChart"></canvas>
    </div>
    <div class="col-sm-4">
        <h5>Dijagram raspodele gostiju po konobarima restorana</h5>
        <canvas id="pieChart" height="20" width="20"></canvas>
    </div>
    <div class="col-sm-4">
        <h5>Histogram prosečnog broja gostiju za svaki dan u nedelji u proteklih 24 meseca</h5>
        <canvas id="histogramChart"></canvas>
    </div>
</div>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>