<h3>Jelovnik</h3>
<table class="tabela" [hidden]="jela.length==0">
    <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Slika</th>
        <th>Cena</th>
        <th>Kolicina</th>
        <th></th>
    </tr>
    <tr *ngFor="let j of jela"> 
        <td>{{j.naziv}}</td>
        <td>{{j.opis}}</td>
        <td><img *ngIf="j.slikaURL" [src]="j.slikaURL" alt="Slika jela" class="slike"><br></td>
        <td>{{j.cena}}</td>
        <td><input type="number" name="{{j.naziv}}" [(ngModel)]="br"></td>
        <td><button (click)="dodajUKorpu(j)">Dodaj u korpu</button></td>
    </tr>
</table>
<span class="error">{{greska}}</span>
<div [hidden]="jela.length!=0">Nema jela na jelovniku</div>
<a routerLink="../korpa" (click)="prikaziKorpu()">Prikazi korpu</a>

<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>