<h3>Vaše aktuelne rezervacije</h3>
<table class="tabela" [hidden]="aktuelneRezervacije.length==0">
    <tr>
        <th>Restoran</th>
        <th>Adresa</th>
        <th>Vreme</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr *ngFor="let r of aktuelneRezervacije">
        <td>{{r.nazivRestorana}}</td>
        <td>{{r.adresa}}</td>
        <td>{{r.vreme | date: "dd-MM-yyyy hh:mm"}}</td>
        <td [hidden]="! r.odobren">Prihvaćena</td>
        <td [hidden]=" r.odobren || r.razlogOdbijanja != ''">Još nije prihvaćena</td>
        <td [hidden]="r.razlogOdbijanja ==''">Razlog odbijanja: {{r.razlogOdbijanja}}</td>
        <td><button (click)="otkazi(r)">Otkazi</button></td>
    </tr>
</table>
<h3>Vaše prošle rezervacije</h3>
<table class="tabela" [hidden]="prosleRezervacije.length==0">
    <tr>
        <th>Restoran</th>
        <th>Vreme</th>
        <th>Ocena</th>
        <th>Komentar</th>
        <th>Dodavanje komentara</th>
        <th>Razlog odbijanja</th>
    </tr>
    <tr *ngFor="let r of prosleRezervacije">
        <td>{{r.nazivRestorana}}</td>
        <td>{{r.vreme | date: "dd-MM-yyyy hh:mm"}}</td>
        <td>{{r.ocena}}</td>
        <td>{{r.komentar}}</td>
        <td><button [disabled]="r.bio == false ||(r.bio == true && r.ocena != 0)" (click)="dodajKomentar(r)">Dodaj komentar</button></td>
        <td><div [hidden]="r.razlogOdbijanja ==''">Razlog odbijanja: {{r.razlogOdbijanja}}</div></td>
    </tr>
</table>
<div [hidden]="! komBool">
    <h5>Nov komentar na {{rezZaKomentarisanje.nazivRestorana}}</h5>
    Ocena: <star-rating [starType]="'svg'" (ratingChange)="onRatingChange($event)"></star-rating> <br>
    Komentar: <input type="text" [(ngModel)]="komentar"><br>
    <button (click)="dodaj()">Dodaj</button>
</div>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>