<h4>Restorani</h4>
<table class="tabela">
    <tr>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Tip</th>
    </tr>
    <tr *ngFor="let r of restorani">
        <td>{{r.naziv}}</td>
        <td>{{r.adresa}}</td>
        <td>{{r.tip}}</td>
    </tr>
</table>
<button (click)="dodajRestoranCanvas()">Dodaj restoran - canvas</button> | <button (click)="dodajRestoranJSON()">Dodaj restoran - JSON</button><br>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>
