<h4>Gost {{gost.ime}} {{gost.prezime}}</h4>
Ime: {{gost.ime}} <input type="text" [(ngModel)]="novoIme"> <button (click)="izmeniIme()">Izmeni</button><br>
Prezime: {{gost.prezime}}  <input type="text" [(ngModel)]="novoPrezime"> <button (click)="izmeniPrezime()">Izmeni</button><br>
I-mejl adresa: {{gost.mejl}}  <input type="text" [(ngModel)]="noviMejl">  <button (click)="izmeniMejl()">Izmeni</button><br>
Adresa: {{gost.adresa}}  <input type="text" [(ngModel)]="novaAdresa"> <button (click)="izmeniAdresu()">Izmeni</button><br>
Broj kreditne kartice: {{gost.broj_kartice}}  <input type="text" [(ngModel)]="noviBrojKartice"> <button  (click)="izmeniBrojKartice()">Izmeni</button><br>
Kontakt telefon: {{gost.kontakt_telefon}} <input type="text" [(ngModel)]="noviTelefon"> <button (click)="izmeniTelefon()">Izmeni</button><br>
<span class="error">{{greska}}</span>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>
