<h3>Neobradjene rezervacije</h3>
<table class="tabela">
    <tr>
        <th>Restoran</th>
        <th>Vreme</th>
        <th>Korisnik</th>
        <th></th>
    </tr>
    <tr *ngFor="let r of rezervacije" [hidden]="r.razlogOdbijanja != ''"> 
        <td>{{r.nazivRestorana}}</td>
        <td>{{r.vreme | date: 'dd-MM-yyy hh:mm'}}</td>
        <td>{{r.ime}} {{r.prezime}}</td>
        <td><button (click)="odobri(r)">Odobri</button></td>
    </tr>
</table>
<hr>
<h3>Zaduzenja</h3>
<table class="tabela">
    <tr>
        <th>Restoran</th>
        <th>Vreme</th>
        <th>Korisnik</th>
        <th>Pojavljivanje</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let r of zaduzenjaProsireno"> 
        <td>{{r.nazivRestorana}}</td>
        <td>{{r.vreme | date: 'dd-MM-yyy hh:mm'}}</td>
        <td>{{r.ime}} {{r.prezime}}</td>
        <td>{{r.bio}}</td>
        <td><button (click)="potvrdiDolazak(r)" [disabled]="r.bio == true">Potvrdi dolazak</button></td>
        <td><button [disabled]="r.bio == true" (click)="nijeSePojavio(r)">Korisnik se nije pojavio</button></td>
        <td><button [disabled]="r.produzena == true || r.bio == true" (click)="produzi(r)">Produzi</button></td>
    </tr>
</table>

<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>