<h2>Registracija</h2>

<h4>Molimo vas popunite sva navedena polja</h4>
Ime: <input type="text" [(ngModel)]="ime"><br>
Prezime: <input type="text" [(ngModel)]="prezime"><br>
Korisnicko ime: <input type="text" [(ngModel)]="kor_ime"><br>
Lozinka: <input type="password" [(ngModel)]="lozinka"><br>
<span class="error">{{greska_lozinka}}</span>
Bezbedonosno pitanje u slučaju zaboravljene lozinka: <input type="text" [(ngModel)]="bezbedonosno_pitanje"> 
Odgovor: <input type="text" [(ngModel)]="odgovor"><br>
Mejl: <input type="text" [(ngModel)]="mejl"><br>
Kontakt telefon: <input type="text" [(ngModel)]="kontakt_telefon"><br>
Adresa: <input type="text" [(ngModel)]="adresa"><br>
Pol: <select [(ngModel)]="pol">
    <option value="m">Muski</option>
    <option value="z">Zenski</option>
</select><br>
Broj kreditne kartice: <input type="text" [(ngModel)]="broj_kartice"><br>
Slika: <input type="file" (change)="onFileSelected($event)" required><br>
    <div class="file-upload">
        {{slika_fajl.name || "Još niste izabrali fajl."}}
    </div>

Registracija: <button (click)="registracija()">Registruj se</button><br>
<span class="error">{{greska_podaci}}</span>
<br>
<button (click)="nazad()">Nazad</button>