<h5>Restorani:</h5>
<table class="tabela">
    <tr>
        <th>Naziv</th>
        <th>Tip</th>
        <th>Adresa</th>
        <th>Konobari</th>
        <th>Prosecna ocena</th>
        <th>Zvezdice</th>
    </tr>
    <tr *ngFor="let r of restoraniIKonobari">
        <td><a routerLink="../rezervacija" (click)="rezervacija(r.id)">{{r.naziv}}</a></td>
        <td>{{r.tip}}</td>
        <td>{{r.adresa}}</td>
        <td>
            <table>
                <tr *ngFor="let k of r.konobari">
                    {{k.ime}} {{k.prezime}}
                </tr>
            </table>
        </td>
        <td>
            {{r.prosecnaOcena}}
        </td>
        <td class="zvezdica"><span *ngIf="r.prosecnaOcena<1.5">*</span> <span *ngIf="r.prosecnaOcena>=1.5 && r.prosecnaOcena<2.5">**</span>
            <span *ngIf="r.prosecnaOcena>=2.5 && r.prosecnaOcena<3.5">***</span><span *ngIf="r.prosecnaOcena>=3.5 && r.prosecnaOcena<4.5">****</span>
            <span *ngIf="r.prosecnaOcena>=4.5">*****</span>
        </td> 
    </tr>
</table>
<h5>Pretraga:</h5>
Tip: <input type="text" [(ngModel)]="tip"><br>
Naziv: <input type="text" [(ngModel)]="naziv"> <br>
Adresa: <input type="text" [(ngModel)]="adresa"> <button (click)="pretraziRestorane()">Pretrazi</button>
<table [hidden]="filtriraniRestorani.length == 0" class="tabela">
    <tr>
        <th>Naziv</th>
        <th>Tip</th>
        <th>Adresa</th>
        <th>Konobari</th>
        <th>Prosecna ocena</th>
        <th>Zvezdice</th>
    </tr>
    <tr *ngFor="let r of filtriraniRestorani">
        <td><a routerLink="../rezervacija" (click)="rezervacija(r.id)">{{r.naziv}}</a></td>
        <td>{{r.tip}}</td>
        <td>{{r.adresa}}</td>
        <td>
            <table>
                <tr *ngFor="let k of r.konobari">
                    <td>{{k.ime}} {{k.prezime}}</td>
                </tr>
            </table>
        </td>
        <td>
            {{r.prosecnaOcena}}
        </td>
        <td class="zvezdica"><span *ngIf="r.prosecnaOcena<1.5">*</span> <span *ngIf="r.prosecnaOcena>=1.5 && r.prosecnaOcena<2.5">**</span>
            <span *ngIf="r.prosecnaOcena>=2.5 && r.prosecnaOcena<3.5">***</span><span *ngIf="r.prosecnaOcena>=3.5 && r.prosecnaOcena<4.5">****</span>
            <span *ngIf="r.prosecnaOcena>=4.5">*****</span>
        </td> 
    </tr>
</table>
<br>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>