<div>
    <h4>Ovde možete izmeniti korisnički profil</h4>
    Profilna slika:<br>
    <img *ngIf="slikaUrl" [src]="slikaUrl" alt="Profilna slika"><br>
    Izmeni profilu sliku: <button [hidden]="izmeniSliku" (click)="slikaBool()">izmeni</button><br>
    <input type="file" [hidden]="! izmeniSliku" (change)="onFileSelected($event)">
    <button [hidden]="! izmeniSliku" (click)="uploadNovaSlika()">izmeni</button>
    <table>
        <tr>
            <th>Ime: </th>
            <td>{{korisnik.ime}}</td>
            <td [hidden]="izmeniIme"><button (click)="imeBool()">izmeni</button></td>
            <td [hidden]="! izmeniIme"><input type="text" [(ngModel)]="novoIme"></td>
            <td><button (click)="ime()" [hidden]="! izmeniIme">izmeni</button></td>
        </tr>
        <tr>
            <th>Prezime: </th>
            <td>{{korisnik.prezime}}</td>
            <td [hidden]="izmeniPrezime"><button (click)="prezimeBool()">izmeni</button></td>
            <td [hidden]="! izmeniPrezime"><input type="text" [(ngModel)]="novoPrezime"></td>
            <td><button (click)="prezime()" [hidden]="! izmeniPrezime">izmeni</button></td>
        </tr>
        <tr>
            <th>I-mejl adresa: </th>
            <td>{{korisnik.mejl}}</td>
            <td [hidden]="izmeniMejl"><button (click)="mejlBool()">izmeni</button></td>
            <td [hidden]="! izmeniMejl"><input type="text" [(ngModel)]="noviMejl"></td>
            <td><button (click)="mejl()" [hidden]="! izmeniMejl">izmeni</button></td>
        </tr>
        <tr>
            <th>Adresa: </th>
            <td>{{korisnik.adresa}}</td>
            <td [hidden]="izmeniAdresu"><button (click)="adresaBool()">izmeni</button></td>
            <td [hidden]="! izmeniAdresu"><input type="text" [(ngModel)]="novaAdresa"></td>
            <td><button (click)="adresa()" [hidden]="! izmeniAdresu">izmeni</button></td>
        </tr>
        <tr>
            <th>Kontakt telefon: </th>
            <td>{{korisnik.kontakt_telefon}}</td>
            <td [hidden]="izmeniKontakt"><button (click)="kontaktBool()">izmeni</button></td>
            <td [hidden]="! izmeniKontakt"><input type="text" [(ngModel)]="noviKontakt"></td>
            <td><button (click)="kontakt()" [hidden]="! izmeniKontakt">izmeni</button></td>
        </tr>
        <tr>
            <th>Broj kartice: </th>
            <td>{{korisnik.broj_kartice}}</td>
            <td [hidden]="izmeniKarticu"><button (click)="karticaBool()">izmeni</button></td>
            <td [hidden]="! izmeniKarticu"><input type="text" [(ngModel)]="novaKartica"></td>
            <td><button (click)="kartica()" [hidden]="! izmeniKarticu">izmeni</button></td>
        </tr>
    </table>
    <span class="error">{{greska}}</span>
    <button (click)="nazad()">Nazad</button>
    <br>
    <button (click)="logout()">LogOut</button>
</div>