<h3>Rezervacija {{rezervacija.nazivRestorana}} u {{rezervacija.vreme | date: "dd-MM-yyyy hh:mm"}} za {{rezervacija.brojOsoba}} osob</h3>

<div>
    <canvas #canvas width="500" height="300" style="border:1px solid #000000;"></canvas>
</div>
<button (click)="odobri()">Odobri</button> | <button (click)="odbijanje()" [hidden]="odbijBool">Odbij</button> <button [hidden]="!odbijBool" (click)="odbij()">Odbij</button><br>
<div [hidden]="!odbijBool">Komentar za odbijanje: <input type="text" [(ngModel)]="komentar" ></div>
<span class="error">{{greska}}</span>
<button (click)="nazad()">Nazad</button>
<br>
<button (click)="logout()">LogOut</button>